AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_REGION=us-east-1
# In local dev the following are all that are needed
DOMAIN_NAME=
CERT_NAME=
DOWNLOAD_BASE_URL=

# In DEV/prod, since codeship builds and deploys, all the following are needed
DEV_AGENT_API_TOKEN=
DEV_DOMAIN_NAME=
DEV_CERT_NAME=
DEV_DOWNLOAD_BASE_URL=
DEV_MYSQL_HOST=
DEV_MYSQL_USER=
DEV_MYSQL_PASS=
DEV_MYSQL_DB=
DEV_VPC_SG_ID=
DEV_VPC_SUBNET1=
DEV_VPC_SUBNET2=
DEV_VPC_SUBNET3=

PROD_AGENT_API_TOKEN=
PROD_DOMAIN_NAME=
PROD_CERT_NAME=
PROD_DOWNLOAD_BASE_URL=
PROD_MYSQL_HOST=
PROD_MYSQL_USER=
PROD_MYSQL_PASS=
PROD_MYSQL_DB=
PROD_VPC_SG_ID=
PROD_VPC_SUBNET1=
PROD_VPC_SUBNET2=
PROD_VPC_SUBNET3=
